.content-wrapper {
    background-color: white !important;
}

.card-custom {
    position: relative;
}

    .card-custom .rounded-top-3 {
        background-image: url('https://res.cloudinary.com/dlgnuolsl/image/upload/v1732856607/lu9paplp3egbzjkrosuq.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vh;
        min-height: 200px;
    }

.card-body-custom {
    position: relative;
    z-index: 1;
    padding-top: 0px;
}

.card-img-custom {
    position: absolute;
    border-radius: 50%;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    width: 30vw; /* Dùng vw để chiều rộng ảnh thay đổi theo màn hình */
    height: 30vw; /* Dùng vw để chiều cao ảnh thay đổi theo màn hình */
    max-width: 200px; /* Giới hạn chiều rộng ảnh */
    max-height: 200px; /* Giới hạn chiều cao ảnh */
}
.badge {
    text-decoration: none; /* Loại bỏ gạch chân */
    font-size: 1.25rem; /* Tăng kích thước chữ */
    padding: 10px 20px; /* Tăng kích thước nút để nó lớn hơn */
    font-weight: bold; /* Tăng độ đậm của chữ */
}
/* Media query cho màn hình nhỏ */
@media (max-width: 768px) {
    .card-custom .rounded-top-3 {
        height: 30vh; /* Đảm bảo chiều cao ảnh bìa không quá nhỏ */
    }

    .card-img-custom {
        width: 40vw; /* Chiều rộng ảnh tăng lên khi màn hình nhỏ */
        height: 40vw; /* Chiều cao ảnh tăng lên khi màn hình nhỏ */
        max-width: 150px; /* Giới hạn chiều rộng ảnh trên các màn hình nhỏ */
        max-height: 150px; /* Giới hạn chiều cao ảnh trên các màn hình nhỏ */
    }
}

/* Media query cho màn hình rất nhỏ, ví dụ như điện thoại */
@media (max-width: 480px) {
    .card-custom .rounded-top-3 {
        height: 20vh; /* Điều chỉnh chiều cao ảnh bìa cho màn hình rất nhỏ */
    }

    .card-img-custom {
        width: 50vw; /* Chiều rộng ảnh được điều chỉnh cho điện thoại */
        height: 50vw; /* Chiều cao ảnh được điều chỉnh cho điện thoại */
        max-width: 120px; /* Giới hạn chiều rộng ảnh */
        max-height: 120px; /* Giới hạn chiều cao ảnh */
    }
}
/*--------------*/
/*EDIT USER*/
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }

        .account-settings .user-profile .user-avatar img {
            width: 90px;
            height: 90px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
        }

    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }

    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #9fa8b9;
    }

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

    .account-settings .about h5 {
        margin: 0 0 15px 0;
        color: #007ae1;
    }

    .account-settings .about p {
        font-size: 0.825rem;
    }

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
