@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var access = Context.Request.Cookies["AccessToken"];  // Lấy AccessToken từ cookie
    var refresh = Context.Request.Cookies["RefreshToken"];  // Lấy RefreshToken từ cookie
    var ss = Context.Session.GetString("AccessToken");
    var rSs = Context.Session.GetString("RefreshToken");
}

<h1>Admin</h1>
<p>Access Token: @access</p>
<p>Refresh Token: @refresh</p>
<p>ss: @ss</p>
<p>ssR: @rSs</p>

