@model EduPlanManager.Models.DTOs.Auth.ForgotPasswordDto

@{
    ViewData["Title"] = "Quên mật khẩu";
}

<h2 class="text-center mb-4">Quên mật khẩu</h2>

<div class="container">
    <form method="post" class="mx-auto" style="max-width: 400px;">
        <div class="mb-2">
            <label for="Email" class="form-label">Email của bạn</label>
            <input type="email" class="form-control" id="Email" name="Email" required />
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-md">Xác nhận</button>
        </div>
    </form>
</div>
