<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đại học Quy Nhơn</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../layout/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../layout/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../layout/assets/css/style.css">
    <link rel="stylesheet" href="../../css/customstyle.css">
    <link rel="shortcut icon" href="../../layout/assets/images/logoquynhon.svg" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/logins/login-9/assets/css/login-9.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet">
    //Time
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="toast" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 10px; right: 10px; z-index: 9999;">
        <div class="d-flex">
            <div class="toast-body" id="toastMessage">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <div class="container-scroller">
        @await Component.InvokeAsync("UserInfo")
        <div style="background-color:#F6FAFF !important" class="container-fluid page-body-wrapper">
            @{
                var role = Context.Request.Cookies["UserRole"] ?? Context.Session.GetString("UserRole")?? "";
            }
            @if (role == "Admin")
            {
                @await Html.PartialAsync("_Sidebar")
            }
            else if (role == "Teacher")
            {
                @await Html.PartialAsync("_AdminSidebar")
            }
            else if (role == "Student")
            {
                @await Html.PartialAsync("_AdminSidebar")
            }
            else
            {
                @await Html.PartialAsync("_AdminSidebar")
            }
            <div class="main-panel">
                <div style="background-color: #ffffff !important" class="content-wrapper">
                    @RenderBody()
                </div>

            </div>
        </div>
    </div>
    <script src="../../layout/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../layout/assets/js/off-canvas.js"></script>
    <script src="../../layout/assets/js/hoverable-collapse.js"></script>
    <script src="../../layout/assets/js/misc.js"></script>

    @RenderSection("Scripts", required: false)
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var errorMessage = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(TempData["ErrorMessage"]));
            var successMessage = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(TempData["SuccessMessage"]));
            var toastElement = document.getElementById("toast");
            var toastMessage = document.getElementById("toastMessage");

            if (errorMessage) {
                toastMessage.textContent = errorMessage;
                toastElement.classList.add("text-bg-danger");
                var toast = new bootstrap.Toast(toastElement);
                toast.show();
            }

            if (successMessage) {
                toastMessage.textContent = successMessage;
                toastElement.classList.add("text-bg-success");
                var toast = new bootstrap.Toast(toastElement);
                toast.show();
            }
        });
    </script>
</body>
</html>