@model EduPlanManager.Models.DTOs.User.UserInfoDto
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div style="background-color: #F6FAFF" class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a style="background-color: #F6FAFF !important " class="navbar-brand brand-logo" href="/"><img src="../../layout/assets/images/logo.png" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="/"><img src="../../layout/assets/images/logoquynhon.svg" alt="logo" /></a>
    </div>
    <div style="background-color: #f6faff " class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item d-flex align-items-center">
                <a asp-controller="User" asp-action="Index" class="nav-link d-flex align-items-center">
                    <div class="nav-profile-img me-2">
                        <img src="@Model.ProfilePictureUrl" alt="image"
                             style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%;">
                        <span class="availability-status online"></span>
                    </div>                
                </a>
                <form id="logoutForm" action="@Url.Action("Logout", "Auth")" method="post" style="display: inline;">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-outline-danger btn-sm ms-3">Đăng xuất</button>
                </form>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>