<nav style="background-color: #F6FAFF !important;" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <!-- Thông tin admin -->
        <li class="nav-item nav-profile">
            <a href="/User/Index" class="nav-link">
                <div class="nav-profile-image">
                    <img src="" alt="profile"
                         style="width: 60px; height: 60px; object-fit: cover; border-radius: 50%;">
                    <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Admin</span>
                    <span class="text-secondary text-small">Admin</span>
                </div>
            </a>
        </li>
        <!-- Danh sách chức năng -->
        <li class="nav-item">
            <a class="nav-link" href="/subject/index">
                <span class="menu-title">Quản lý môn học</span>
                <i class="mdi mdi-book-open-page-variant menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AcademicTerm/index">
                <span class="menu-title">Quản lý học kỳ</span>
                <i class="mdi mdi-calendar-range menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Enrollment/EnrollmentRequests">
                <span class="menu-title">Phê duyệt đăng ký</span>
                <i class="mdi mdi-check-circle-outline menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/grade/index">
                <span class="menu-title">Quản lý điểm số</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>
