<nav style="background-color: #F6FAFF !important;" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="../../layout/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Giáo viên</span>
                    <span class="text-secondary text-small">Admin/Teacher</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">
                <span class="menu-title">Trang chủ</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/subject/index">
                <span class="menu-title">Quản lý môn học</span>
                <i class="mdi mdi-book-open-page-variant menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AcademicTerm/index">
                <span class="menu-title">Quản lý học kỳ</span>
                <i class="mdi mdi-calendar-range menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Enrollment/EnrollmentRequests">
                <span class="menu-title">Duyệt đăng ký môn học</span>
                <i class="mdi mdi-checkbox-marked menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Enrollment/EnrollmentRequests">
                <span class="menu-title">Danh sách sinh viên đăng ký</span>
                <i class="mdi mdi-account-group menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>
