@model EduPlanManager.Models.DTOs.Class.CreateUpdateClassDTO
<h2 class="text-center py-4">Tạo mới lớp học</h2>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="border overflow-hidden p-4 p-md-5">
                <form asp-action="Create" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row gy-4 gy-xl-5">
                        <div class="col-12 col-md-6">
                            <label asp-for="Code" class="form-label">Mã lớp học</label>
                            <input asp-for="Code" type="text" class="form-control" />
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="ClassName" class="form-label">Tên lớp học</label>
                            <input asp-for="ClassName" type="text" class="form-control" />
                            @Html.ValidationMessageFor(model => model.ClassName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg">Tạo mới</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {


}
